<body>
<img src="https://cdn.shopify.com/s/files/1/0185/5092/products/persons-0112.png?v=1369544066" />
<img src="https://pbs.twimg.com/profile_images/587949417577066499/3uCD4xxY.jpg" />

<h2>Get it? Get it?</h2>
</body>